<div class="container">
  <div class="card mt-4 p-4">
    <h2 class="card-title text-center">Employees</h2>
    <app-table-filter [columns]="columns"
                      (filterEvent)="filterEmployees($event)"
                      class="mb-2"></app-table-filter>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" *ngFor="let column of columns">{{column.name}}
          <app-table-sort [sortBy]="column.property" (sortEvent)="sortEmployees($event)"></app-table-sort>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr employees-table-row
        *ngFor="let employee of employees.array | paginate: {itemsPerPage: 10, currentPage: currentPage}"
        [employee]="employee"></tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage=$event"></pagination-controls>
  </div>
</div>
